cookie= # Взять cookie из браузера (F12 -> Application) или из Postman для intel.arkm.com
APP_ID= # Получить на https://my.telegram.org
APP_HASH= # Получить на https://my.telegram.org
BOT_TOKEN= # Получить у @BotFather в Telegram
