*.env
!.env.example
proxy.txt
data/db/*
!data/db/.gitkeep
data/logs/*
!data/logs/.gitkeep
data/grok/grok.com/cookies/*
!data/grok/grok.com/cookies/.gitkeep
data/grok/grok.com/cache.json
data/grok/xai/accounts/*
!data/grok/xai/accounts/.gitkeep
data/app-sessions/*
!data/app-sessions/.gitkeep
.VSCodeCounter
prompt.txt