*.env
checker/addresses.txt
checker/usernames.txt
play/
checker/app.log
checker/proxy.txt
checker/addresses_db/
checker/result.txt
*test.txt
*prompt.txt
*proxy.txt
checker/dune_parser.txt
*curl.txt
checker/session/cookies/*
!checker/session/cookies/.gitkeep
checker/session/cache.json
session.log
session/
logs
checker/interceptor/session/cache.json
checker/interceptor/session/cookies/*
!checker/interceptor/session/cookies/.gitkeep
.VSCodeCounter
checker/grokclient/config.json
checker/grokclient/sessions/*
!checker/grokclient/sessions/.gitkeep
checker/gsheets/credentials.json
checker/gsheets/token.json